{% extends 'base.html' %} 
{% import 'assist/_macros.html' as macros %} 

{% block title %} Movies {% endblock %}

{% block head %} 
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/movies.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Outfit&display=swap" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="page-container">
        <div class="page-header">
            <h2>發現新電影</h2>
        </div>
        <div class="items-container">
            <div class="items-header">
                <div class="filter">
                    <p>
                        <a class="btn btn-link justify-content-end" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <img src="{{ url_for('static', filename = 'images/filter-empty.svg') }}" onmouseover="filter_over(this)" onmouseout="filter_out(this)">
                        </a>
                    </p>
                      <div class="row">
                        <div class="col">
                          <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        依照評分
                                        <span class="filter-icon">
                                            <a href="{{ url_for('main.movies', sort = 'rate', desc = '1') }}">
                                                <img src="{{ url_for('static', filename = 'images/sort-down.svg') }}">
                                            </a>
                                            <a href="{{ url_for('main.movies', sort = 'rate') }}">
                                                <img src="{{ url_for('static', filename = 'images/sort-up.svg') }}">
                                            </a>
                                        </span>
                                        
                                    </li>
                                    <li class="list-group-item">
                                        依照上映日期
                                        <span class="filter-icon">
                                            <a href="{{ url_for('main.movies', sort = 'year', desc = '1') }}">
                                                <img src="{{ url_for('static', filename = 'images/sort-down.svg') }}">
                                            </a>
                                            <a href="{{ url_for('main.movies', sort = 'year') }}">
                                                <img src="{{ url_for('static', filename = 'images/sort-up.svg') }}">
                                            </a>
                                        </span>
                                    </li>
                                    
                                  </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>名稱</td>
                            <td>類別</td>
                            <td>上映日期</td>
                            <td>評分</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img src='https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}'>
                                </td>
                                <td class="title">
                                    <a href="#">
                                        <span>
                                        {{ movie.title }}
                                        </span>
                                        <span class="og-title">
                                        ({{ movie.original_title }})  
                                        </span>
                                                                              
                                    </a>
                                </td>
                                <td>{{ movie.genres }}</td>
                                <td>{{ movie.release_date }}</td>
                                <td>
                                    
                                    <img src="{{ url_for('static', filename = 'images/star.png') }}">
                                    {% if movie.vote_average %}
                                        <span>{{ movie.vote_average }}</span>
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                    
                                </td>
                                <td>
                                    <a href="#">
                                        <img onmouseover="add_over(this)" onmouseout="add_out(this)" src="{{ url_for('static', filename = 'images/add-empty.png') }}"> 
                                    </a>
                                </td>
                            </tr> 
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if pagination %}
        <div class="pagination-content">
            {{ macros.pagination_widget(pagination, '.movies', sort =  sort_type, desc = desc) }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        function add_over(btn){
            btn.src = '/static/images/add-full.png'
        }

        function add_out(btn) {
            btn.src = '/static/images/add-empty.png'
        }

        function filter_over(filter) {
            filter.src = '/static/images/filter-full.svg'
        }

        function filter_out(filter) {
            filter.src = '/static/images/filter-empty.svg'
        }
    </script>
{% endblock %}
